.div-button {
    border: none;
    outline: none;
    background-color: transparent;
    // background-color: gray;
    cursor: pointer;
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
}
